.sider {
    background: #000;
}


.survey-item-option {
    width: 100%;
    user-select: none;
}

.sider-item {
    height: 48px;
    padding: 12px;

    border-top: 1px solid #EEEEEE11;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    color: #EEE;
}
.sider-item-page {
    margin-top: 36px;
    border-top: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.sider-item-selected {
    background: #EEE;
    border-bottom: 3px solid #AAA;
}
.edit-surveyListItem-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.option-item {
    margin-top: 16px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sider-actions {
    width: 100%;
    padding: 12px;
}
.sider-list {
    height: 100%;
    border-right: 0;
}
