

.translation-table {
    width: 100%;
    min-height: 500px;
    background: #111;
    border-radius: 4px;
}

.translation-row {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.translation-column {
    width: 50%;
    /*padding: 12px;*/
    border: #333 1px solid;
}

.translations-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.translations-actions-select {
    width: 120px;
}
