.login-form {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.login-form .logo {
    width: 128px;
    height: 128px;
}
.ant-form-item-control-input-content {
    text-align: center;
}

.loading-spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
