.gridContainer {
    background: #000;
}
.AppBar {
    background: #000;
}
.stylaLogoNavBar {
    width: 30px;
    height: 30px;
}
.stylaLogoNavBar path {
    stroke: #FFF;
}
.accountIcon svg {
    fill: #FFF;
}

@media (prefers-color-scheme: light) {
    .gridContainer {
        background: #FFF;
    }
}
