.surveys-container-layout {
    padding: 0 24px 24px;
    min-height: calc( 100vh - 65px);
}

.surveys-container-content {
    padding: 24px;
    margin: 0;
    min-height: 280px;
}

.breadcrumb {
    margin: 16px 0;
    text-align: center;
}

.create-survey-button {
    margin-bottom: 16px;
}

@media screen and (min-width: 1000px) {
    .surveys-container-layout {
        width: 1000px;
        margin: 0 auto;
    }
}
